*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto', sans-serif ;
}
h1, h2, h3, h4, h5, h6{
    color: #1D273B;
    font-weight: 300;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}
h1{
    font-size: 50px;
}
/*header*/
header::before{
    content: "";
    display: inline-block;
    margin-bottom: 80px;
}
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}
.nav .logo{
    height: 80px;
}
.nav .logo img{
    height: 100%;
    vertical-align: top;
}
.enlaces-header{
    font-weight: 300;
}
.nav .enlaces-header a{
    color: #2C56A8;
    text-decoration: none;
    margin-left: 30px;
}
.nav .enlaces-header a:hover{
    color: #fff;
    background: #7697DA;
    border-radius: 8px;
    box-shadow: 2px 5px 10px rgba(32, 32, 231, 0.603);
}
header{
    background: linear-gradient(#A8DADC, #fff);
}
.container {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/*carusel*/
.carousel{
    background: linear-gradient(#fff, #A8DADC);
}
.carousel-inner{
    width: 50%;
    height: 50%;
    margin: auto;
}
.carousel-control-prev{
    width: 35%;
    height: 50%;
    margin: auto;
}
/*about us*/
.about-us{
    background: #F2F2F2;
}
.contenedor-articulo{
    display: flex;
    margin-top:  60px;
    justify-content: space-around;
}
.articulo{
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}
.articulo:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}
.articulo>i{
    font-size: 30px;
    color: #fff;
    background: #A8DADC;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(0, 0, 255, 0.603);
}
.articulo>h3{
    font-size: 24px;
    margin-top: 30px;
}
.articulo>p{
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;
}
.articulo>a{
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}
.articulo>a:hover{
    color: #7697DA;
    transition: color .5s;
}
/* Questions */
.questions{
    background: linear-gradient(#fff, #A8DADC);
}
.contenido-questions{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-questions>img{
    width: 400px;
}
.textos-questions{
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}
.textos-questions a{
    margin: 28px 0 0 0;
    width: 130px;
    display: block;
    background: #7697DA;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 12px 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(0, 0, 255, 0.603);
}
/* Results */
.results{
    background: linear-gradient(#A8DADC, #fff);
    padding-top: 30px;
}
.content-results{
    display: flex;
    justify-content: space-evenly;
}
.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.numbers .number{
    width: 35%;
    background: rgba(255, 255, 255, .2);
    color: #5D6678;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}
.numbers .number h4{
    color: #2C56A8;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}
.numbers .number p{
    color: #7697DA;
    font-weight: 300;
}
.results-text{
    width: 37%;
}
.results-text h4{
    color: #1D273B;
    font-size: 40px;
}
.results-text p{
    color: grey;
    font-weight: 300;
    margin: 20px 0;
}
.results-text>a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}
/* Service */
.services{
    display: flex;
    justify-content: space-between;
}
.services>img{
    width: 400px;
}
.box-skills{
    margin: 30px 30px 0 0;
}
.box-skills h4{
    font-size: 24px;
    background: #F2F2F2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}
.box-skills i{
    color: #2C56A8;
    font-size: 20px;
}
/* footer*/
footer{
    background: #F2F5FC;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.partFooter{
    width: 20%;
    text-align: center;
}
.partFooter h4{
    color: #2C56A8;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.partFooter a{
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}
.partFooter a:hover{
    color: aqua;
}
.partFooter img{
    width: 50%;
    height: 115px;
    border: groove;
    border-width: 10px;
    border-radius: 15px;
}
.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #ADB6C7;
    border: 1px solid #ADB6C7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}
.social-media i:hover{
    color: #fff;
    background-color: #2C56A8;
    border-color: #7697DA;
}