.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}

.formulario__estructura{
    background:linear-gradient(200deg, #ffffff 82%, #1e88e5 18%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px 0 #0d47a1;
    height: 100%;
}

.formulario__estructura_contenedor-logo{
    width: 100%;
    height: 12.5%;
    background-color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.formulario__estructura_contenedor-logo img{
    width: 50%;
    height: 150%;
}

.formulario__estructura-titulo{
    color: rgb(61, 61, 61);
    font-size: 2rem;
    font-weight: bold;
}

.formulario__datos{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    width: 65%
}

.formulario__datos input {
    height: 1.7rem;
    border: none;
    border-bottom: 2px solid rgb(34, 34, 34);
    background-color: transparent;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.formulario__datos input:focus{
    background: none;
    outline: none;
}

.formulario__datos input:active{
    background: none;
    outline: none;
}

.formulario__datos label {
    color: rgb(61, 61, 61);
    font-size: 1.1rem;
    font-weight: 600;
}

.formulario__datos-contraseña{
    display: flex;
}

.formulario__datos-contraseña input{
    display: flex;
    width: 100%;
}

.icon {
    float: inline-end;
    width: 27px;
    height: 27px;
}

.icon:hover{
    cursor: pointer;
}

.deshabilitar {
    pointer-events: none !important;
    cursor: none !important;
    opacity: 0.7 !important;
}