:root{
    --titleFont: 'Gugi', cursive;
    --textFont: 'Lato', sans-serif;
    --blueCard: #0578eb;
}

body{
    display: flex;
    background-color: white;
    margin: auto;
    height: auto;
    justify-content: center;
}

.client{
    height: auto;
    width: 30rem;
    display: flex;
    flex-direction: column;
    border: 2px solid darkblue;
}

.title{
    font-family: var(--titleFont);
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--blueCard);
    padding: 1rem 0;
    letter-spacing: 2px;
    color: white;
}

.data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0.5rem;
}

.data-item{
    font-family: var(--textFont);
    font-size: 1.5rem;
    color: black;
}

#changeFormat{
    font-weight: bold;
    margin-right: .7rem;
}

.transactions{
    display: flex;
    flex-direction: column;
}

.subtitle{
    font-size: 1.7rem;
}

.transactions__list{
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
}

.transaction{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 1rem 0;
    border-bottom: 2px solid var(--blueCard);
}

.tr-item{
    font-size: 1.2rem;
    line-height: 1.5;
}

.accepted{
    color: #4ad128;
    font-weight: bold;
}

.rejected{
    color:rgb(243, 101, 101);
    font-weight: bold;
}

@media screen and (min-width:0){
    body{
        flex-direction: column;
        padding: 0;
        border: 2px solid darkblue;     
    }
    .client{
        width: 100%;
        margin: 0 auto;
    }
    .tr-item{
        font-size: 1.1rem;
    }
}

@media screen and (min-width:1200px){
    body{
        flex-direction: row;
        padding: 2rem 0;
        border: none;
    }
    .client{
        width: 30%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1400px){
    body{
        flex-direction: row;
        padding: 2rem 0;
        border: none;
    }
    .client{
        width: 26%;
        margin: 0 auto;
    }
    .tr-item{
        font-size: 1.2rem;
    }
}
