body {
    background: linear-gradient(to left, #1d5c97bb, #2287a0c7);
}
table {
    width: 80% !important;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.377) !important;
}
.head-table{
    background-color: #1d5c97;
    color: white;
}