*{
    font-family: Arial, Helvetica, sans-serif;
}
.header-elementos{
    height: 5em;
    display: flex;
    justify-content:space-between
}
.header-itbank-logo{
    height:5em;
    
}
.header-salir{
    padding: 1em;
    color:white;
    background-color: #01497c;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    border-width: 1px;
    border-style: double;
}
.nav-navegacion{
    padding: 0px 3em;
    list-style: none;
    display: flex;
    justify-content:space-between;
    background-image: linear-gradient(to right, #468faf , #01497c);
    color: white;
    font-weight: bold;
    
}
.elemento{
    margin: 0.5em;
}
.caja-de-ahorro{
    border-color: #01497c;
    border-width: 1px;
    border-style: none;
    border-radius: 10px;
    width: 50%;
    padding: 1em;
    box-shadow: 0 0 15px grey;
}
.caja-de-ahorro_titulo{
    color: #01497c;
    display: flex;
    justify-content: space-between;
    padding: 0px 1em;
}
.caja-de-ahorro_saldo{
    display: flex;
    align-items: center;
    padding: 0px 1em;
}
.text-saldo{
    color: gray;
    padding-right: 0.5em;
}
