*{
    font-family:Arial, Helvetica, sans-serif;
}
.bttn{
    margin: 1em;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    border-width: 1px;
    border-style: double;
    justify-content: center;
    align-items: center;
}
.bttn-oscuro{
    background-color: #01497c;
    border-color: #01497c;
    color: white;
}
.bttn-oscuro:hover, .bttn-claro:hover{
    background-color: #468faf;
    border-color: #468faf;
    color: black;
    cursor:pointer;
}
.bttn-claro{
    background-color: #dee2e6;
    border-color: #dee2e6;
}

.header-elementos{
    height: 5em;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-itbank-logo{
    height:5em;
}
.nav-navegacion{
    padding: 0px 3em;
    list-style: none;
    display: flex;
    justify-content:space-between;
    background-image: linear-gradient(to right, #468faf , #01497c);
    color: white;
    font-weight: bold;
}
.nav-navegacion li{
    margin: 0.5em;
    background-color: none;
}
.nav-navegacion li:hover{
    color: #012641;
    cursor:pointer;
}
.carousel{
    background-color: #f8f9fa;
    color: #012641;
    height: 17em;
    padding: 0.5em;
}
.bloque-ayuda{
    margin: 0.5em;
    padding: 0.8em 5em;
    padding-right: 1.7em ;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px grey ;
    color: #01497c;
}
.bloque-ayuda_informacion{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.bloque-ayuda_informacion img{
    height: 200px;
}
.img-cross, .arrow-right{
    height: 20px;
}
.img-cross:hover{
    cursor: pointer;
}

.card{
    color: #012641;
    border-width: 1px;
    border-color: #012641;
    border-style: double;
    margin: 1.5em;
}
.card:hover{
    background-color:#dee2e6;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icon-copy{
    height: 20px;
    justify-content: center;
}
.menu-burger{
    visibility: hidden;
}

.cotizacion {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-around;
}

@media (max-width:650px) {
    nav, .mi-perfil, .cerrar-sesion{
        visibility:hidden;
        position: fixed;
    }

    .menu-burger{
        visibility:visible;
    }
    .productos{
        justify-content: center;
    }
    .cotizacion{
        display: block;
        align-items: center;
    }
  }