body {
    font-family: "roboto", sans-serif;
  }
ul {
    list-style: none;
}

.list-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-group-item{
    width: 25%;
    height: auto;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.containerTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    font-size: large;
    text-transform: uppercase;
    background:  rgba(0, 0, 255, 0.432);
    
}
.imgDolar{
    width: 1.5em;
    padding-right: 0.7em;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.containerDivisa{
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: space-around;
    background-color: rgba(44, 85, 168, 0.116);
}
.tituloCompra, .tituloVenta, .referencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    
}
.divisa{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.variacion, .actualizacion{
    display: flex;
    justify-content: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.actualizacion{
    background: rgba(0, 0, 255, 0.432);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
p{
    margin: 0px;
}

.displayVariacion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicador {
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 12px solid rgb(8, 179, 2);
    margin-right: 5px;
}

.indicador-negativo {
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 12px solid rgb(255, 0, 0);
    margin-right: 5px;
}
