<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Tarjetas ITBANK</title>
</head>
<body>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID tarjeta</th>
        <th scope="col">Número</th>
        <th scope="col">CVV</th>
        <th scope="col">Fecha de otorgamiento</th>
        <th scope="col">Fecha de expiración</th>
        <th scope="col">ID tipo tarjeta</th>
        <th scope="col">ID marca</th>
        <th scope="col">ID cliente</th>
      </tr>
    </thead>
    <tbody>
      {% for tarjeta in tarjetas %}
      <tr>
        <th scope="row">{{ tarjeta.tarjeta_id }}</th>
        <th scope="row">{{ tarjeta.numero }}</th>
        <td>{{ tarjeta.cvv }}</td>
        <td>{{ tarjeta.fecha_otorgamiento }}</td>
        <td>{{ tarjeta.fecha_expiracion }}</td>
        <td>{{ tarjeta.tipo_tarjeta_id }}</td>
        <td>{{ tarjeta.marca_id }}</td>
        <td>{{ tarjeta.customer_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>