@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito&family=Roboto+Condensed&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap");

body {
  margin: 0;
  padding: 0;
  /* background: url(/HomeBanking_ITBA-main/Images/fondo.png), #7B4397; */
  /* background: url(/HomeBanking_ITBA-main/Images/fondo.png), -webkit-gradient(linear, right top, left top, from(#7B4397), to(#106980)); */
  background: url("../../forgot/images/fondo.png"), linear-gradient(to left, #1d5c97, #2287a0);
  /* background-size: cover; */
  font-family: sans-serif;
  height: 100vh;
}

header {
  width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

header img {
  width: 30%;
  height: 30%;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  color: #e8eff5;
}

main .formulario-registro {
  width: 580px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  border: 3px solid #a8dadc;
  border-radius: 15px;
  background: #fff;
  margin-bottom: 50px;
}

.formulario-registro h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 36px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.formulario-registro .completar {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #000;
}

.formulario-registro .completar label {
  font-family: "Nunito", sans-serif;
  padding-top: 25px;
  padding-bottom: 5px;
  font-size: 16px;
}

.formulario-registro input {
  border: none;
  border-bottom: solid 1px #bcd5eb;
  background: transparent;

  color: #000;
  font-size: 15px;

  width: 20em;
}

.formulario-registro .completar input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.9;
  filter: invert(0.9);
}

main .botones {
  text-align: center;
}

main .botones button {
  width: 270px;
  height: 71px;

  margin-top: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;

  background: #457b9d;
  color: white;

  cursor: pointer;
  border-color: rgb(0, 0, 0);
  border-radius: 12px;

  transition: 1s all;
}

main .botones button:hover {
  background: rgb(2, 2, 87);
  color: white;

  transform: scale(1.01);
}

main .formulario-registro .cliente-iniciar {
  text-align: center;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
}

.cliente-iniciar #iniciar-sesion {
  color: #457b9d;
  text-decoration: none;
}

.cliente-iniciar #iniciar-sesion:hover {
  color: grey;
  text-decoration: underline;
}

/*Footer*/
footer {
  padding: 15px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.partFooter {
  width: 10%;
  height: 10%;
  text-align: center;
}

.partFooter h4 {
  color: #adb6c7;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.partFooter a {
  display: block;
  text-decoration: none;
  color: #5d6678;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.partFooter a:hover {
  color: aqua;
}

.partFooter img {
  width: 100%;
  height: 100px;
  border: groove;
  border-width: 10px;
  border-radius: 15px;
}

.social-media i {
  font-size: 20px;
  display: inline-block;
  color: #adb6c7;
  border: 1px solid #adb6c7;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 36px;
  cursor: pointer;
  margin-top: center;
  transition: all ease-in-out 0.3s;
  margin-right: 5px;
}

.social-media i:hover {
  color: #fff;
  background-color: #2c56a8;
  border-color: #3a0ca3;
}
