{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'cuentas/css/cuentas.css' %}">
    <title>Clientes ITBANK</title>
</head>
<body>
  <div class="text-center d-flex justify-content-around align-items-center">
    <h1>Clientes</h1>
  </div>
  <table class="table table-striped">
    <thead class="head-table">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">DNI</th>
            <th scope="col">Fecha nacimiento</th>
            <th scope="col">Sucursal</th>
            <th scope="col">Tipo cliente</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          <tr>
            <th scope="row">{{ cliente.customer_id }}</th>
            <td>{{ cliente.customer_name }}</td>
            <td>{{ cliente.customer_surname }}</td>
            <td>{{ cliente.customer_dni }}</td>
            <td>{{ cliente.dob }}</td>
            <td>{{ cliente.branch_id }}</td>
            <td>{{ cliente.tipo_cliente }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>