*{
    text-decoration: none;
}

h1{
    text-align: center;    
    text-shadow: 2px 2px 5px grey;    
    color: #fff;
}

body{    
    background: linear-gradient(#A8DADC, #fff);
}

.contenedor{    
    width: 30%;
    height: 20%;    
    margin: auto;    
    border: 3px solid #A8DADC;    
    padding: 15px;    
    text-align: center;    
    box-shadow: 2px 2px 5px 4px grey;    
    color: #457B9D;    
    border-radius: 15px;    
    background: #fff;}

.cabecero{    
    background-color: #fff;}

.cuerpo{    
    padding-top: 2px;    
    font-size: 1.2em;    
    font-weight: bolder;    
}

.cuerpo input{    
    width: 85%;    
    margin-bottom: 20px;
}

.cuerpo input[type="text"],.cuerpo input[type="password"]{    
    border: none;    
    border-bottom: 1px solid #457B9D;    
    background: transparent;    
    outline: none;    
    height: 40px;    
    color: #000;    
    font-size: 16px;
}

.cuerpo input[type="submit"]{    
    border: none;    
    outline: none;    
    height: 40px;    
    background: #457B9D;    
    color: #fff;    
    font-size: 18px;    
    border-radius: 20px;
}

.cuerpo input[type="submit"]:hover{    
    background: #3A0CA3;
}

.cuerpo a{    
    text-decoration: none;    
    font-size: 15px;    
    line-height: 20px;
    color: #457B9D;
}

.cuerpo a:hover{    
    text-decoration: underline;
}

.cabecero img{    
    width: 250px;
}
footer{    
    padding: 15px 0;    
    overflow: hidden;    
    display: flex;    
    flex-wrap: wrap;    
    justify-content: space-evenly;    
    margin: auto;
    margin-top:230px;
}

.partFooter{    
    width: 10%;    
    height: 10%;    
    text-align: center;
}

.partFooter h4{    
    color: #ADB6C7;    
    font-size: 20px;    
    font-weight: 400;    
    margin-bottom: 30px;
}

.partFooter a{    
    display: block;    
    text-decoration: none;    
    color: #5D6678;    
    font-weight: 300;    
    transition: color .3s ease-in-out;    
    margin-bottom: 10px;
}

.partFooter a:hover{    
    color: aqua;
}

.partFooter img{    
    width: 100%;    
    height: 100px;    
    border: groove;    
    border-width: 10px;    
    border-radius: 15px;
}

.social-media i{    
    font-size: 20px;    
    display: inline-block;    
    color: #ADB6C7;    
    border: 1px solid #ADB6C7;    
    border-radius: 50%;    
    width: 38px;    
    height: 38px;    
    line-height: 36px;    
    cursor: pointer;    
    margin-top: center;    
    transition: all ease-in-out .3s;   
    margin-right: 5px;
}

.social-media i:hover{    
    color: #fff;    
    background-color: #2C56A8;   
    border-color: #3A0CA3;
}