* {
  font-family: "roboto", sans-serif;
}
.bttn {
  margin: 1em;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  border-width: 1px;
  border-style: double;
  justify-content: center;
  align-items: center;
}

.bttn-oscuro {
  background: #457b9d;
  border-color: #457b9d;
  color: white;
  /* font-weight: bold; */
}

.bttn a,
.bttn a:hover {
  text-decoration: none;
  
}

.bttn-oscuro:hover,
.bttn-claro:hover {
  background-color: rgb(6, 129, 185);
  border-color: rgb(6, 129, 185);
  cursor: pointer;
}
.bttn-claro {
  background-color: #dee2e6;
  border-color: #dee2e6;
  color: black;
}
.cerrar-sesion a,.cerrar-sesion a:hover{
  color: black;
}
.header-elementos {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(/Images/fondo.png), linear-gradient(to left, #1d5c97, #2287a0);
}
.header-itbank-logo {
  height: 5em;
}
.nav-navegacion {
  padding: 0.5em 3em;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* background-image: linear-gradient(to right, #468faf, #01497c); */
  /* color: white; */
  color: #2c56a8;
  /* font-weight: bold; */
}
.nav-navegacion li {
  margin: 0.5em;
  background-color: none;
  
}
.nav-navegacion li:hover {
  /* color: #012641; */
  cursor: pointer;
  color: #fff;
  background: #7697da;
  border-radius: 8px;
  box-shadow: 2px 5px 10px rgba(32, 32, 231, 0.603);
  
}
.carousel {
  /* background-color: #f2f2f2;
  color: #012641;
  height: 17em;
  padding: 0.5em; */
  height: 17em;
}

.carousel-control-next{
  height: auto;
}
.btn-appGastos{
  color: white;
}
.imgCarousel{
  height:15em;
  width: 25%;
}
.bloque-ayuda {
  margin: 0.5em;
  padding: 0.8em 5em;
  padding-right: 1.7em;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 15px grey;
  color: #01497c;
}
.bloque-ayuda_informacion {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.bloque-ayuda_informacion img {
  height: 200px;
}
.img-cross,
.arrow-right {
  height: 20px;
}
.img-cross:hover {
  cursor: pointer;
}

.card {
  color: #012641;
  border-width: 1px;
  border-color: #012641;
  border-style: double;
  margin: 1.5em;
}
.card:hover {
  background-color: #dee2e6;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icon-copy {
  height: 20px;
  justify-content: center;
}
.menu-burger {
  visibility: hidden;
}
.sectionProductos{
  background: linear-gradient(#a8dadc, #2c56a8);
  padding: 2em 1em 1em 1em;
  margin-top: 8px;
  text-align: center;
}

.productos{
  justify-content: space-around;
}

/* Esto está en uso?? */
/* .one{
  background-image: url(.././Images/banner1.png);
  
}
.cotizacion {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-around;
}
.cotizacion_texto {
  width: 50%;
}
.tabla {
  width: 25%;
} */

/* Section dolarPrice */

section .dolarPrice ul {
  list-style: none;
}

section div h2{
  padding: 20px;
}
.borderDolarUp{
  border-radius: 25px 25px 0 0;
}

.borderDolarDown{
  border-radius: 0 0 25px 25px;
}

.dolarPrice{
  text-align: center;
  margin-top: 8px;
}

.list-groupDolar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list-group-itemDolar{
  width: 25%;
  height: auto;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.containerDolarTitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  width: 100%;
  font-size: large;
  text-transform: uppercase;
  background:  #BFDBF7;
  
}
.imgDolar{
  width: 2em;
  padding-right: 0.7em;
}
.containerDolar{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.containerDolarDivisa{
  width: 100%;
  padding: 1em 0 0 0;
  display: flex;
  justify-content: space-around;
  background-color: #6eaded;
}
.tituloCompra, .tituloVenta, .referencia{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  
}
.divisa{
  font-size: 20px;
  font-weight: bold;
  color: rgb(6, 99, 22);
}
.variacion, .actualizacion{
  display: flex;
  justify-content: center;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.displayVariacion{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4999e9;
}

.indicador {
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 12px solid rgb(8, 179, 2);
  margin-right: 5px;
}

.indicador-negativo {
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 12px solid rgb(255, 0, 0);
  margin-right: 5px;
}

.actualizacion{
  background: #1666b6;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-weight: bold;
}
p{
  margin: 0px;
}


@media (max-width: 740px) {
  .productos {
    justify-content: center;
  }
}
@media (max-width: 650px) {
  nav,
  .mi-perfil,
  .cerrar-sesion {
    visibility: hidden;
    position: fixed;
  }

  .menu-burger {
    visibility: visible;
  }
  .cotizacion {
    margin: 1em;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
  .cotizacion_texto {
    width: 100%;
  }
  .tabla {
    width: 100%;
  }
}
