body {
  margin: 0;
  padding: 0;
  /* background: url(/Images/fondo.png), #7B4397; */
  /* background: url(/Images/fondo.png), -webkit-gradient(linear, right top, left top, from(#5e48b1), to(#0d485f)); */
  background: url(/Images/fondo.png), linear-gradient(to left, #5e48b1, #0b647a);
  font-family: sans-serif;
  height: 100vh;
}

.contenedor{
  width: 420px;
  height: 580px;
  background: #fff;
  color: #457b9d;
  border: 3px solid #a8dadc;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 4px grey;
  padding: 70px 30px;
  border-radius: 15px;
}

.contenedor .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  border: .5px solid rgb(31, 97, 128);
}

.contenedor h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.contenedor label {
  margin: 0;
  padding: 0;
  /*font-weight: bold;*/
  display: block;
  color: #000;
}

.contenedor {
  font-size: 1.2em;
  font-weight: bolder;
}

.contenedor input {
  width: 85%;
  margin-bottom: 20px;
}

.contenedor input[type="text"],
.contenedor input[type="password"] {
  border: none;
  border-bottom: 1px solid #457b9d;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.contenedor input[type="submit"]:hover {
  background: #3a0ca3;
}

.contenedor a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  margin: 5px;
  padding: 5px;
}

.contenedor a:hover {
  text-decoration: underline;
}

.contenedor .boton-ingreso {
  border: none;
  outline: none;
  height: 40px;
  padding: 8px 10px;
  margin: 10px 10px;
  background: #457b9d;
  color: #fff;
  font-size: 24px;
  border-radius: 20px;
  text-decoration: none;
}

.contenedor .boton-ingreso:hover {
  text-decoration: none;
  background-color: rgb(6, 129, 185);
  /* color: #457B9D;
    border: #457B9D solid 2px; */
}